#banner{
    display: auto;
    background: url(./bannerbackground.png);
   border: none;
   overflow: hidden;
}
body{
    background: url(./background.png);
}
h1{
    
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    font-family: "Verdana";
}
#headmain{
    
  
    background: url(./rottenbackground.png);
    height: 83px;
}

#main{
    border: 4px solid gray;
    overflow: auto;
    margin: auto;
    width: 800px;
    
    
}
.rot{
    float: left;
}
.percent{
    font-size: 48pt;
    color: red;
    font-family: "Verdana";
    font-weight: bold;
    
}
.reviewno{
    font-family: "Verdana";
    
}
#text{
    border: 2px solid gray;
    background: #E1D697;
    overflow: auto;
    padding: 8px;
    font-weight: bold;
    font-size: 8pt;
    
}
#rev{
    margin:2%;
    overflow: auto;
   
}
.ic{
    float: left;
    padding: 5px;
}
#cont{
    
    overflow: auto;
    margin: auto;
    
}

.crit{
  float: left;
  padding-top:2%;
  vertical-align: text-top;
}
.comp{
    font-style: italic;
}

#col1{
    padding: 2%;
    width: 47%;
   float: left;
    
}
#col2{
   padding-top: 2%;
    width: 47%;
    float: left;
}
.author{
    font-size: 8pt;
    float: left;
}

.rot{
    height: 83px;
}
.reviewno{
    font-size: 8pt;
    color: white;
    
}

#left{
    
    width: 550px;
    float: left;
    height: 100%;
}
#right{
    
    width: 250px;
    float: right;
    background: #A2B964;
   
    height: 100%
   
}
p{
    font-family: "Verdana";
}
.part{
    font-weight: bold;
    
}
.credits{
    font-size: 8pt;
}
#movie{
    margin-bottom: 10px;
}
#creds{
    margin: 2%;
}

.p1{
   
    background: #A2B964;
    height: 32px;
    float: left;
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
}
.info{
    margin-left: 40px;
    font-family: "Verdana";
    font-size: 8pt;
}
#infop{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 8pt;
}
.part{
    font-size: 8pt;
    font-family: "Verdana";
}
.p1{
    font-size: 8pt;
    font-family: "Verdana";
   padding-top: 5px;
   padding-bottom: 5px;
    height: 95%;
}
